<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>User page</title>
        <meta charset="UTF-8">
        <link href="../CSS/Usercss.css" rel="stylesheet" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
  <div class="background">
  <div class="navbar">
    <ul>
      <li><a href="\home" class="scroll">Home</a></li>
      <li><a href="\plots" class="scroll">Plots</a></li>
      <li><form name="Logout" action="logout" method="POST" id="logout"><input type="submit" id="logout" value="Logout" ></form></li>
    </ul>
  </div>
        <div class="container">
  <div class="header-container">
      <img src="../Media/userimage.jpg" alt="Backgroundimage" class="header-image" />
    <div class="header">
      <h1 class="main-heading"><%= user.UserName %></h1>
      <span class="tag">Total farms: 1</span>
      <span class="tag">Total plots: 1</span>
      <div class="stats">
        <span class="stat-module">
           Temperature <span class="stat-number">00.0 C°</span>
        </span>
        <span class="stat-module">
          Humidity <span class="stat-number">00.0 C°</span>
        </span>
        <span class="stat-module">
          Nutrition <span class="stat-number">00.0 C°</span>
        </span>
      </div>
    </div> <!-- END header -->
  </div>
  
  <div class="overlay-header"></div>
  
  <div class="body">
      <img src="../Media/Farmericon.png" alt="Farmer image" class="body-image" />
    <div class="u-clearfix"></div>
    <div class="body-info">
      <p>
        Farm location: dummy location.
      </p>
    </div>
    <div class="card u-clearfix">
      <span class="card-heading">Farms</span>
      <span class="card-more">
      </span>
      <ul class="card-list">
          <li><img src="../Media/farmpm1.jpg" alt="Farm 1" /></li>
          <li><img src="../Media/farmpm2.jpg" alt="Farm 2" /></li>
          <li><img src="../Media/farmpm3.jpg" alt="Farm 3" /></li>
      </ul>
    </div>
  </div>
  
</div>
    </body>
</html>
